<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification OTP</title>
</head>
<body>
    <!-- <div style="display: flex; justify-content: center; align-items: center; width:100%;">
        <img style="margin:auto" src='cid:pic1' width="50vw">
    </div> -->

    <h2 style="text-align: center;">Use this OTP to cast your vote for CR elections.</h2>

    <p>Do not share this OTP with anyone else, this can be used to cast a vote on your behalf.</p>

    <p style="color:gray; text-align: center; font-weight: 500;font-size: xx-large;" ><%=OTP%></p>
        
    <p style="text-align: center;"><em style="color:red; text-align: center;">
        This link is only valid for 2 hours...
    </em></p>
</body>
</html>